<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">
      <img src="logo_inponto.png" width="114" heigth="69"/>
    </a>
    
    <ul class="nav">
      <form class="navbar-search pull-left" action="#">
        <div class="input-search">
  		    <input id="search_route" type="text" class="span5" placeholder="Pesquise um Itinerário de Transporte Público">
        </div>
        <div class="input-search">
          <input id="search_address" type="text" class="span5" placeholder="Pesquise um Endereço">
        </div>
  		</form>

      <div class="fb-like shared" data-href="http://inponto.com.br" data-send="false" data-layout="button_count" data-show-faces="true" data-font="verdana"></div>

      <div class="shared">
         <div class="g-plus" data-href="http://inponto.com.br" data-action="share" data-annotation="bubble"></div>
      </div>

      <div class="shared">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://inponto.com.br/" data-text="Você já se perguntou como faço pra chegar na rua fulano de tal pegando um ônibus? Conheça o @inPonto e liberte-se..." data-lang="pt">Tweetar</a>
      </div>
    </ul>
  </div>
</div>  

<a class="btn btn-mini open-column" id="open-column" href="#"><i class="icon-fast-forward"></i> Abrir</a>

<div id="info-column">
  
  <div class="header-info-column">
    <i class="icon-chevron-left close-column" id="close-column"></i>
  </div>
  
  <hr>
  
  <div class="body-info-column" id="body-info-column">
    
    <table class="table table-condensed" id="table_div">

    </table>

    

    <div class="advertise">
    </div>

      
  </div>
  <div class="footer-info-column">
    <p>
      <a href="">Sobre</a> <a href="">Facebook</a>
      </br> inPonto copyright &copy; 2013
    </p>
  </div>

</div>
  
<div id="map_canvas"></div>

<script type="text/javascript">


$("#close-column").click(function () {
  $("#info-column").toggle()
  $("#open-column").css({visibility: "visible"})
});

$("#open-column").click(function () {
  $("#info-column").toggle()
  $("#open-column").css({visibility: "hidden"})
});

$("#body-info-column").tinyscrollbar();

$("#selected_route").click(function(){
  alert("Primeira verificação")
  requestCoordRoute($("#selected_route").val())
  

});
/*$("#body-info-column").heigth(function(){
  $("#info-column").heigth();
});*/ 



</script>