<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">
      <img src="logo_inponto.png" width="114" heigth="69"/>
    </a>
    
    <ul class="nav">
      <form class="navbar-search pull-left" action="#">
        <div class="input-search">
  		    <input id="search_route" type="text" class="span5" placeholder="Pesquise um Itinerário de Transporte Público">
        </div>
        <div class="input-search">
          <input id="search_address" type="text" class="span5 search_address" placeholder="Pesquise um Endereço">
        </div>
  		</form>

      
    </ul>
  </div>
</div>  

<a class="btn btn-mini open-column" id="open-column" href="#"><i class="icon-fast-forward"></i> Abrir</a>

<div id="info-column">
  
  <div class="header-info-column">
    <!-- Icons Share -->
    <!--div class="fb-like shared" data-href="http://inponto.com.br" data-send="false" data-layout="button_count" data-show-faces="true" data-font="verdana"></div>

    <div class="shared">
       <div class="g-plus" data-href="http://inponto.com.br" data-action="share" data-annotation="bubble"></div>
    </div>

    <div class="shared">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://inponto.com.br/" data-text="Você já se perguntou como faço pra chegar na rua fulano de tal pegando um ônibus? Conheça o @inPonto e liberte-se..." data-lang="pt">Tweetar</a>
    </div-->

    <i class="icon-chevron-left close-column" id="close-column"></i>
    
  </div>
  
  <hr>
  
  <div class="body-info-column" id="body-info-column">
    
    <form id="form-destination">
      <fieldset>
        <input type="text" class="span4 search_address" id="origin" placeholder="Digite sua origem">
        <input type="text" class="span4 search_address" id="destination " placeholder="Digite seu destino">
      </fieldset>
    </form>
    
    
    <table class="table table-condensed" id="table_div">
    </table>
    
    <!--div class="advertise">
    </div-->

      
  </div>
  <div class="footer-info-column">
    <p>
      <a href="">Sobre</a> <a href="">Facebook</a>
      </br> inPonto copyright &copy; 2013
    </p>
  </div>

</div>



<div id="main_map">
  
  <div id="map_canvas">
  </div>

</div>  

<div class="alert alert-error address-error">  
  <a class="close close-error" onChange="">×</a>  
  <strong>Endereço não encontrado!</strong><br>Verifique se foi digitado algo errado.  
</div>


<script type="text/javascript">

$("#close-column").click(function () {
  closeColumn();
});

$("#open-column").click(function () {
  openColumn();
});

$("#link_route").live('click', function () {
  requestCoordRoute($(this).attr("value"))
});

$("#link_route").hover(function () {
    requestCoordRoute($(this).attr("value"))
});

$(".close-error").click(function() {
  closeError();
});

$(".search_address").focus(function(){
  setElement(this);
});

</script>