
<div class="navbar">

  <div class="navbar-inner">
    <a class="brand" href="#">
      <img src="logo_inponto.png" width="114" heigth="69"/>
    </a>
    <ul class="nav">
		<form class="navbar-search pull-left" action="#">
		  <input id="search_route" type="text" class="span5" placeholder="Digite o nome de uma rota">
      <input id="search_address" type="text" class="span5" placeholder="Digite um endereco">
		</form>
    </ul>
  </div>

</div>

<div id="map_canvas"></div>
