
<div class="row body-black">
	<div class="container">
		<ul class="nav nav-pills">
			<li><a href="/">inPonto</a></li>
			<li><a href="#sobre">Sobre</a></li>
			<li><a href="#time">O Time</a></li>
			<li><a href="#contato">Contato</a></li>
		</ul>
	</div>
</div>


<div class="row body-gray" id="sobre">
	<div class="pellicle">
		<div class="container">
			<h1>Sobre</h1>
			<legend></legend>
			<div class="image-center">
				<p><img src="/inponto_logo_principal.png" class="img-rounded"></p>
			</div>
			<p class="lead">inPonto é um projeto que se dispõe a ser o principal meio de informações sobre o sistema de transportes públicos do Brasil. Utilizando uma apresentação fácil de ser entendida, em sua versão de teste, foram listados os principais itinerários de Fortaleza.</p>
			<p class="lead">O projeto é uma iniciativa independente, liderada por dois inquietos<a href="#time">(o time).</a> Eles acreditam que podem melhorar o dia-a-dia de milhares de pessoas através de iniciativas como esta, portanto quando quiser nos dar algumas sugestão ou crítica, pode <a href="#contato">falar com a gente.</a></p> 

		</div>
	</div>
</div>

<div class="row body-black" id="time">
	<div class="container">
		<h1>O Time</h1>
		<legend></legend>
		
			
		<div class="span5 member-time">
				<p><img src="/felipe_araujo.jpg" class="img-circle"></p>
				<h4>Felipe de Araújo</h4>
				<h5>O Comunicador</h5>
				<div class="paragraph-left">
					<p>Entusiasta de Ruby on Rails e de desenvolvimento ágil. Organizar, levantar requistos e gerenciar o andamento do projeto são suas rotinas preferidas. Dizem que ensinar está em seu DNA. Sonha em dar vida a boas ideias desde que ainda nem sabia o que era computador.</p>
				</div>
				<p>
					<a href="https://twitter.com/Felipe_dAraujo" target="_blank">Twitter</a> | 
					<a href="http://www.facebook.com/felipedaraujo" target="_blank">Facebook</a>
				</p>
		</div>

		<div class="span5 member-time">
				<p><img src="/victor_hugo.jpg" class="img-circle"></p>
				<h4>Victor Hugo</h4>
				<h5>O Arquiteto</h5>
			<div class="paragraph-left">
				<p> Desenvolvedor PHP e Java. Ama programação orientada a objetos e otimização de código. Defensor da boa peformance das aplicações e AJAX. Não teme a desafios de programação e sempre apresenta ótimas soluções tecnológicas. Andar de skate e passear em lugares verdes está entre seus momentos de lazer preferidos.</p>
			</div>
			<p>
				<a href="http://www.facebook.com/victor.bean.92" target="_blank">Facebook</a>
			</p>			
		</div>
		
	</div>
</div>

<div class="row body-gray" id="contato">
	<div class="pellicle">
		<div class="container">
			<h1>Contato</h1>
			<legend></legend>
			<div class="container span6">
				
				<form>
				  <fieldset>
				    <label>Nome:</label>
				    <input type="text" placeholder="Digite seu nome" class="span6">
				    <label>E-mail:*</label>
				    <input type="text" placeholder="Digite seu e-mail" class="span6">
				    <label>Mensagem:</label>
				    <textarea rows="5" class="span6"></textarea>
				    <span class="help-block">Responderemos sua mensagem o mais breve possível!</span>
				    <div class="controls">
					    <button type="submit" placeholder="Digite seu mensagem" class="btn">Enviar</button>
					</div>
				  </fieldset>
				</form>
			</div>
			<div class="span4">
				<div class="image-center social-networking">
					
					<p>
						<a href="http://www.facebook.com/inPonto" rel="publisher" target="_blank" title="facebook.com/inponto">
							<img src="/picons36.png" class="img-circle">
						</a>
					</p>
					<p>
						<a href="https://twitter.com/inPonto" rel="publisher" target="_blank" title="twitter.com/inponto">
							<img src="/picons33.png" class="img-circle">
						</a>
					</p>
					<p>
						<a href="https://plus.google.com/103755438901306385765" rel="publisher" target="_blank" title="google plus">
							<img src="/picons39.png" class="img-circle">
						</a>
					</p>

				</div>
				<img src="">
			</div>	
		</div>
	</div>
</div>

<div class="row body-black">
	<div class="container">
		<div class="footer-principal">
			<ul class="nav nav-pills">
				<li><a href="/">inPonto</a></li>
				<li><a href="#sobre">Sobre</a></li>
				<li><a href="#time">O Time</a></li>
				<li><a href="#contato">Contato</a></li>
				<li><a href="javacript:void(0)"> &copy; <b>inPonto</b> 2013 Todos os Direitos Reservados</a></li>
			</ul>
		</div>
		
	</div>
</div>