<div class="navbar-inner">
	<div class="container">		
      	<a class="brand" href="#"><img src="/inponto_logo_bar_w.png"></a>
      	<ul class="nav nav-pills pull-right">
			<li><a href="/"><h4>inponto</h4></a></li>
			<li><a href="#sobre"><h4>sobre</h4></a></li>
			<li><a href="#sobre"><h4>parceiros</h4></a></li>
			<li><a href="#time"><h4>o time</h4></a></li>
			<li><a href="#contato"><h4>contato</h4></a></li>
		</ul>
	</div>
</div>


<div class="row body-gray" id="sobre">
	<div class="pellicle">
		<div class="container">
			<h2>sobre</h2>
			<legend></legend>
			
			<p class="lead">Inponto, é o guia de informações sobre transportes públicos de milhares de pessoas que diariamente dependem de ônibus, metrôs e trens para se deslocarem. Utilizando uma apresentação fácil de ser entendida, em sua versão de teste, foram listados os itinerários dos transportes de Fortaleza.</p>
			<p class="lead">inPonto é um projeto que se propõe a ser o principal meio de informações sobre o sistema de transportes públicos no Brasil. Utilizando uma apresentação fácil de ser entendida, em sua versão de teste, foram listados os principais itinerários de Fortaleza.</p>
			<p class="lead">O projeto é uma iniciativa independente, liderada por <a href="#time" title="o time">dois inquietos.</a> Nós acreditamos que podemos melhorar o dia-a-dia de milhares de pessoas através de iniciativas como esta. Se você quiser, pode nos <a href="#contato">enviar sugestões ou críticas.</a></p> 
			<div class="image-center">
				<img src="/smartphone.png" class="img-rounded">
				<img src="/screen01.png" class="img-screen">
			</div>

		</div>
	</div>
</div>


<div class="row body-black">
	<div class="container">
		<h2>parceiros</h2>
		<legend></legend>
	


	</div>
</div>


<div class="row body-gray" id="time">
	<div class="pellicle">
		<div class="container">
			<h2>o time</h2>
			<legend></legend>
			
				
			<div class="span5 member-time">
					<p><img src="/felipe_araujo.jpg" class="img-circle"></p>
					<h4>Felipe de Araújo</h4>
					<h5>O Comunicador</h5>
					<div class="paragraph-left">
						<p>Entusiasta de Ruby on Rails e de desenvolvimento ágil. Organizar, levantar requistos e gerenciar o andamento do projeto são suas rotinas preferidas. Dizem que ensinar está em seu DNA. Sonha em dar vida a boas ideias desde que ainda nem sabia o que era computador.</p>
					</div>
					<p>
						<a href="https://twitter.com/Felipe_dAraujo" target="_blank">Twitter</a> | 
						<a href="http://www.facebook.com/felipedaraujo" target="_blank">Facebook</a>
					</p>
			</div>

			<div class="span5 member-time">
					<p><img src="/victor_hugo.jpg" class="img-circle"></p>
					<h4>Victor Hugo</h4>
					<h5>O Arquiteto</h5>
				<div class="paragraph-left">
					<p> Desenvolvedor PHP e Java. Ama programação orientada a objetos e otimização de código. Defensor da boa peformance das aplicações e AJAX. Não teme a desafios de programação e sempre apresenta ótimas soluções tecnológicas. Andar de skate e passear em lugares verdes está entre seus momentos de lazer preferidos.</p>
				</div>
				<p>
					<a href="http://www.facebook.com/victor.bean.92" target="_blank">Facebook</a>
				</p>			
			</div>
			
		</div>
	</div>
</div>

<div class="row body-black" id="contato">	
	<div class="container">
		<h2>contato</h2>
		<legend></legend>
		<div class="container span6">			
			<form>
			  <fieldset>
			    <label>Nome:</label>
			    <input type="text" placeholder="Digite seu nome" class="span6">
			    <label>E-mail:*</label>
			    <input type="text" placeholder="Digite seu e-mail" class="span6">
			    <label>Mensagem:</label>
			    <textarea rows="5" class="span6"></textarea>
			    <span class="help-block">Responderemos sua mensagem o mais breve possível!</span>
			    <div class="controls">
				    <button type="submit" placeholder="Digite seu mensagem" class="btn">Enviar</button>
				</div>
			  </fieldset>
			</form>
		</div>
		<div class="span4">
			<div class="image-center social-networking">
				
				<p>
					<a href="http://www.facebook.com/inPonto" rel="publisher" target="_blank" title="facebook.com/inponto">
						<img src="/picons36.png" class="img-circle">
					</a>
				</p>
				<p>
					<a href="https://twitter.com/inPonto" rel="publisher" target="_blank" title="twitter.com/inponto">
						<img src="/picons33.png" class="img-circle">
					</a>
				</p>
				<p>
					<a href="https://plus.google.com/103755438901306385765" rel="publisher" target="_blank" title="google plus">
						<img src="/picons39.png" class="img-circle">
					</a>
				</p>

			</div>
			<img src="">
		</div>	
	</div>
</div>

<div class="row body-gray">
	<div class="pellicle">
		<div class="container">
			<div class="footer-principal">
				<ul class="nav nav-pills">
					<li><a href="/"><b>inponto</b></a></li>
					<li><a href="#sobre">sobre</a></li>
					<li><a href="#time">o time</a></li>
					<li><a href="#contato">contato</a></li>
					<li><a href="javacript:void(0)"> &copy; <b>inPonto</b> 2013 Todos os Direitos Reservados</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>






<script type="text/javascript">

$('a').click(function() {
    var elementClicked = $(this).attr("href");
    var destination = $(elementClicked).offset().top;
    $("html:not(:animated),body:not(:animated)").animate({ scrollTop: destination-15}, 1000 );
    return false;
});

</script>