/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

html,body,#map_canvas {
height:100%;
font-family:'lucida grande',tahoma,verdana,arial,sans-serif;
font-size:14px;
margin:0;
padding:0;
}

#map_canvas{
height:94%;	
}

/*
.infowindow_style {
width:350px;
height:200px;
border:1px solid #000;
}

.title_infowindow {
font-size:16px;
}

.title_list {
background-color:#f9f9f9;
border-bottom:2px solid #999;
font-size:13px;
margin-top:5px;
}

.list_infowindow {
width:350px;
height:130px;
overflow-y:scroll;
}

.list_infowindow ul {
list-style:none;
}

.list_infowindow a {
text-decoration:none;
color:#000;
}

.list_infowindow a:hover {
text-decoration:none;
color:#999;
}

.name_stop {
width:350px;
float:left;
line-height:4px;
margin-left:5px;
}

.number_route {
width:60px;
float:left;
}

.name_route {
width:325px;
float:left;
border:1px solid red;
}

.time_infowindow {
width:40px;
float:left;
}
*/