<!DOCTYPE html>
<html>
<head>
	<meta property="og:title" content="inPonto, sua b&#xfa;ssula de transportes p&#xfa;blicos" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://inponto.com.br" />
	<meta property="og:image" content="http://www.facebook.com/photo.php?fbid=348991261856823&amp;set=a.173461939409757.41421.173457479410203&amp;type=1&amp;theater" />
	<meta property="og:site_name" content="inPonto" />
	<meta property="fb:admins" content="100001152335846" />
  	
  	<title>inPonto</title>
  	<link rel="shortcut icon" href="/text3161-5.ico.png" type="image/x-icon" />
	
	<%= stylesheet_link_tag "application", :media => "all" %>

	<%= javascript_include_tag "application" %>

	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places"></script>

	<%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<%= yield %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34891480-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
