<!DOCTYPE html>
<html>
<head>
  <title>inPonto</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <%= csrf_meta_tags %>


</head>
<body>

<%= yield %>



</body>
</html>
